

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}